html {
    margin: 0;
}

body {
    min-height: 100%;
    font-size: 0.8750em;
    font-family: Arial, sans-serif;
    margin: 0;
}

/*  NAV BAR */
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8)
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#nav-bar li {
    list-style: none;
    margin: 0;
    padding: 0 0.6em;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

.app-icon {
    width: 50%;
}

.profile-img {
    border-radius: 50%;
}

/* MAIN BODY */

/* if image is not in div element then we can center the image with

img {
     display: block;
     margin: 0 auto; 
    }

*/


.google-img {
    display: block;
    text-align: center;
    margin-top: 14em;
}

#google-search {
    display: block;
    margin: 0 auto;
    margin-top: 1.5em;
    width: 28%;
    height: 3.5em;
    border: 0.01px solid rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    outline: none;
    background: url('search.png') no-repeat scroll 12px 12px;
    padding-left: 4em;
}

.input {
    text-align: center;
    margin-top: 2em;
}

#g-search, #Feeling {
    height: 2.7em;
    width: 7%;
    border: 0 solid rgba(0, 0, 0, 0.1);
    font-size: 1em;
    background-color: #f8f9fa;
    color: #474b4e;
    border-radius: 10%;
}

#g-search {
    margin-right: 0.6em;
}


/* FOOTER */

footer {
    margin-top: 30em;
    background-color: #f2f2f2;
    overflow: hidden;
}

#footer-nav {
    display: flex;
    flex-direction: row;
    border-top: 0.1px solid rgba(0, 0, 0, 0.1);
}

.left a, .right a {
    padding-left: 1.5em;
}

.left, .right {
    margin-top: 1em;
    margin-bottom: 1em;
}

.right {
    margin-left: 93em;
}

footer a {
    color: grey;
}